<!-- Main navigation with current page / categoriy highlighted -->
<nav class=navigation>
  <ul>
    {% for item in site.data.nav %}
      {% assign lowercased_title = item.title | downcase %}

    {% assign page_is_in_cat = false %}
    {% for cat in item.cate %}
    {% if page.categories contains cat or page.category == cat %}
    {% assign page_is_in_cat = true %}
    {% endif %}
    {% endfor %}

      <li {% if page.permalink == item.url or page_is_in_cat == true %}class=current{% endif %}>
        <a href="{{ item.url | prepend: site.base }}" class="icon">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
