---
layout: page
title: l'instant norvégien
categories: [news, writings]
permalink: /norway/
desc: <b>ou</b> comment survivre
---

<p class="page-intro">
   Cette série d'articles retrace un trek de 12 jours dans la région de
   Dovrefjell en Norvège, avec Faltad en Septembre 2013. Les notes sont
   tirées d'un carnet que je tenais plus ou moins à jour, elles sont
   accompagnées de photos prises au passage.
</p>

<article>
  {% for post in site.categories.norway %}
    {% include page-item.html %}
  {% endfor %}
</article>
